:root {
    --flank-colour: black;
    --posx: 0px;
    --posy: 0px;
}

.fix {
    position: relative;
    left: var(--posx);
    top: var(--posy);
    font-size: 3em;
}

.flank {
    position: relative;
    left: var(--posx);
    top: var(--posy);
    font-size: 3em;
    text-align: center;
}

.feedback {
    margin: 0 auto;
    position: relative;
    left: var(--posx);
    top: var(--posy);
    font-size: 2em;
}
