:root {
  --stroop-colour: black;
  --posx: 0px;
}

.fix {
  position: relative;
  font-size: 3em;
  font-family: monospace;
}

.probe_left {
  position:relative;
  height:50px;
  width:50px;
  background: #111;
  border-radius: 50%;
  right: 185px;
}
.probe_right {
  position:relative;
  height:50px;
  width:50px;
  background: #111;
  border-radius: 50%;
  left: 185px;
}

.feedback {
  margin: 0 auto;
  position: relative;
  font-size: 3em;
}

.picleft{
  height:100%;
  width: auto;
  float:left;
  margin:0px 100px;
}
.picright{
  height:100%;
  width: auto;
  float:right;
  margin:0px 100px;
}
